
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
<div>
    @Html.ActionLink("MobileDetails", "MobileDetails", "Mobile")

    @Html.ActionLink("DisplayUserDetails", "DisplayUserDetails", "Account")
    @Html.ActionLink("Add Brand", "AddBrand", "Mobile")
</div>